/* cores para usar no futuro: verde florescente #00eb87 */
* {
  color: rgba(0, 0, 0, 0.9);
  font-family:'Poppins', sans-serif
}

div.box-servicos {
  padding: 20px;
  background-color: rgba(19, 18, 18, 0.2);
  text-align: center;
  margin-bottom: 30px;
}

.foto-perfil {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  padding: 5px;
  float: left;
}

.corFundo {
  background-color: rgba(0, 0, 0, 0.9);
}

.icone {  
  padding: 12px;
  color:rgba(0, 0, 0, 0.9);;
  margin: 0;
}

.texto-blog{
  line-height: 1.5;
}

.titulos {
  text-underline-position: bellow;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 700;
  color:rgba(0, 0, 0, 0.9);
}

.card-body {
  background-color: rgba(19, 18, 18, 0.2);
}

.col {
  padding: 10px;
}

.footer {
  padding: 15px;
  margin: 20px;
}

.jumbotron {
  color:rgba(19, 18, 18, 0.9);
  background-color: transparent !important;
  }

.jumbotron-fluid {
  color:rgba(19, 18, 18, 0.9);
  background-color: transparent !important;
}

.container-fluid {
  height: auto;
}

.col-md-5{
text-align: left;
margin: 30px;
}

 
