/* cores para usar no futuro: verde florescente #00eb87 */
* {
  color: rgba(0, 0, 0, 0.9);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.foto-perfil {
  width: 20%;
  border-radius: 50%;
  padding: 15px;
  margin: 20px;
}


.icone {  
  padding: 12px;
  color:rgba(0, 0, 0, 0.9);;
  margin: 0;
}



.card-title {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

/* Contêiner para alinhar os cards lado a lado */
.cards-container {
  padding: 100px;
  align-items: center;
}

.card {
  border-radius: 15px; /* Borda arredondada */
  padding: 20px; /* Ajustar padding */
  margin: 20px;
  display: flex; /* Usar flexbox para layout */
  border-bottom: 2px solid black; /* Linha de borda inferior preta */
  text-decoration: none; /* Remover sublinhado dos links */
  color: inherit; /* Herdar cor do texto */
  text-align: left;
}

card-body {
  padding: 20px;
  text-align: left;
  display: flex;
}

.custom-btn {
  text-align: left;
}

.footer {
  padding: 15px;
  margin: 20px;
}
