/* cores para usar no futuro: verde florescente #00eb87 */
* {
  color: rgba(0, 0, 0, 0.9);
}

#banner {
  padding-top: 70px;
}

div.box-servicos {
  padding: 20px;
  background-color: rgba(19, 18, 18, 0.2);
  text-align: center;
  margin-bottom: 30px;
}

.foto-perfil {
  height: 20%;
  width: 20%;
  border-radius: 50%;
  padding: 5px;
  float: left;
}

.corFundo {
  background-color: rgba(0, 0, 0, 0.9);
}

.icone {
  padding: 12px;
  color:rgba(0, 0, 0, 0.9);;
  margin: 0;
}

.container-fluid {
  height: auto;
} 

.titulos {
  text-underline-position: bellow;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 700;
  color:rgba(0, 0, 0, 0.9);
}

.card-body {
  background-color: rgba(19, 18, 18, 0.2);
}

.col {
  padding: 10px;
}

.texto {
  color:rgba(0, 0, 0, 0.9);;
  font-size: 20px;
  text-align: justify;
}

.footer {
  background-color: rgba(19, 18, 18, 0.9);
  padding: 15px;
  padding-bottom: 0px;
}

.jumbotron {
  color:rgba(19, 18, 18, 0.9);
  background-color:transparent !important;
  }

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  color:rgba(19, 18, 18, 0.9);
  background-color: transparent !important;
}