<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfólio</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/e1ef3b4fea.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Inicio Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="https://rafaelmegda.github.io">
        <h3><b> Rafael Megda ;</b></h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
             <!-- <a class="nav-item nav-link" href="sobremim.html">Sobre Mim</a> -->
          <a class="nav-item nav-link" href="projetos.html">Projetos</a>
          <a class="nav-item nav-link" href="habilidades.html">Habilidades</a>
          <a class="nav-item nav-link" href="portfolio.html">Portfólio</a>
          <a class="nav-item nav-link" href="realizacoes.html">Realizações</a>
          <a class="nav-item nav-link" href="blog.html">Blog</a>
        </div>
      </div>
    </nav>
    <!-- ---------------------------Fim Navbar------------------------------- -->

    <section class="jumbotron" style="background-color: transparent !important;">
      <div class="container-fluid" id="repositorios-github">
        <h2 class="titulos jumbotron-heading">Repositórios GitHub</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">API OKRs</h5>
                <p class="card-text">(Em construção...) Projeto em .Net Core API para oferecer recursos básicos para 
                  gestão de OKRs para empresas e Startups, inicialmente com um bord de metas.
                  <br><a href="https://github.com/rafaelmegda/api-okrs">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Identificação de Maças</h5>
                <p class="card-text">Desenvolvido em C#, este sistema é para analisar uma imagem de uma maçã e identificar se ela esta 
                  verde ou madura. Ideal para aperfeiçoamento e utilização em pomares.
                  <br><a href="https://github.com/rafaelmegda/Processamento-de-Imagem-para-identificar-macas">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Dicionário com Árvore Binária</h5>
                <p class="card-text">Desenvolvido para estudos de Estrutura de Dados usando linguagem C, para buscar palavras em um dicionário
                  com mais eficiência e desempenho através de árvore binária.
                  <br><a href="https://github.com/rafaelmegda/Procurando-palavras-com-arvore-binaria">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Gestão de Pagamento Taxas</h5>
                <p class="card-text">Sistema para uma pequena empresa controlar os pagamentos de taxas de embarque. Desenvolvido em C# utilizando
                  WebForms e banco de dados em SQL Server para rodar localmente.
                  <br><a href="https://github.com/rafaelmegda/Gestao-de-taxa-embarque-para-ag-ncias-de-passagens">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Controle de Frotas</h5>
                <p class="card-text">Primeiro sistema desenvolvido para a faculdade, utilizando C# e WebForms, onde é possível realizar a gestão 
                  e controle de uma frota de veículos. Sistema básico com dados em memória.
                  <br><a href="https://github.com/rafaelmegda/Controle-de-frota">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Sorteador OnLine</h5>
                <p class="card-text">Projeto de Front-End utilizando HTML, CSS e Bootstrap para gerenciar sorteios online.
                  Existem alguns sorteadores, mas a idéia é aperfeiçoar o projeto e permitir personalização pelo usuário.
                  <br><a href="https://github.com/rafaelmegda/sorteadoronline.github.io">Acessar repositório</a> > 
                  <a href="https://rafaelmegda.github.io/sorteadoronline.github.io/">Acessar Sorteador</a>
                </p>
              </div>
            </div>
          </div>          
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Game Rogue Like</h5>
                <p class="card-text">Projeto da Faculdade desenvolvido em C e rodando na linha de comando baseado no lendário 
                  Game Rougue Like, um RPG dos anos 80. Desenvolvido em grupo.
                  <br><a href="https://github.com/rafaelmegda/Game-Rogue-Like">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Botão Pagamento Mercado Pago</h5>
                <p class="card-text">Desenvolvido para estudos utilizando PHP. A idéia é disponibilizar a opção para quem esta 
                  iniciando uma loja virtual, disponibilizar para os cliente esta forma de pagamento.
                  <br><a href="https://github.com/rafaelmegda/Botao-de-Pagamento-Com-Mercado-Pago">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Manipulando Banco de Dados</h5>
                <p class="card-text">Projeto desenvolvido na faculdade para estudos de PHP, onde é possível criar uma conexão com 
                  o bando de dados, o banco e as tabelas, e realizar inserção de dados.
                  <br><a href="https://github.com/rafaelmegda/ManipulandoBancoDeDadosComPHP-MySQL">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Manipulando Banco de Dados</h5>
                <p class="card-text">Projeto desenvolvido na faculdade para estudos de PHP, HTML e CSS junto com Banco de dados MySQL 
                  para cadastrar um novo usuário e login ao usuário cadastrado criando uma nova sessão.
                  <br><a href="https://github.com/rafaelmegda/cadastro-de-usuario-e-login-com-php">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Chat de Mensagens</h5>
                <p class="card-text">Projeto desenvolvido na faculdade para estudos de PHP, para a criação de um chat para envio e recebimento
                  de mensagens. Sem Definição de layout para a página.
                  <br><a href="https://github.com/rafaelmegda/Chat-com-Imagens">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Exercícios Uri Judge</h5>
                <p class="card-text">Reposiório Contendo as resoluções de exercicios da plataforma https://www.urionlinejudge.com.br/ que 
                  permite praticar exercicios que simulam maratonas de programação da USP.
                  <br><a href="https://github.com/rafaelmegda/Resolucao-Exercicios-URI-Judge">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Exercícios	Hacker Rank</h5>
                <p class="card-text">Reposiório Contendo as resoluções de exercicios da plataforma Hacker Rank que 
                  permite praticar exercicios de lógica em diversas linguagens.
                  <br><a href="https://github.com/rafaelmegda/Resolucao-Exercicios-Hacker-Rank">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Crud AngularJS</h5>
                <p class="card-text">Projeto desenvolvido para estudos de front-end utilizando AngularJS, manipulando as informações e 
                  montando um CRUD em memória. Esta é a primeira Versão do Angular.
                  <br><a href="https://github.com/rafaelmegda/FrontEnd-com-AngularJS">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="jumbotron" style="background-color: transparent !important;">
        <div class="container-fluid" id="portfolio">
          <h2 class="titulos jumbotron-heading">Portfólio</h2>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="desktop-tab" data-toggle="tab" href="#desktop" role="tab" aria-controls="desktop"
                aria-selected="true">Back-End Desktop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="front-tab" data-toggle="tab" href="#front" role="tab" aria-controls="front"
                aria-selected="false">Front-End</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="web-tab" data-toggle="tab" href="#web" role="tab" aria-controls="web"
                aria-selected="false">Back-End WEB</a>
            </li>               
            <li class="nav-item">
              <a class="nav-link" id="wordpress-tab" data-toggle="tab" href="#wordpress" role="tab" aria-controls="wordpress"
                aria-selected="false">Sites em WordPress</a>
            </li>
          </ul>
          <!-- ----------------------------------------------WEB-------------------------------------------------- -->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="web" role="tabpanel" aria-labelledby="web-tab">
              <div class="row row-cols-2">
                <!-- card -->
                
                  <div class="card" style="width: 18rem;">
                    <img src="/src/img/php-back.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h6>Cadastro e Login com MySQL</h6>
                      <a href="https://github.com/rafaelmegda/cadastro-de-usuario-e-login-com-php"><button class="btn btn-light">Acessar</button></a>
                    </div>
                  </div>
                
                <!-- fim card -->
                <!-- card -->
                
                  <div class="card" style="width: 18rem;">
                    <img src="/src/img/php-back.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h6>Botão Pagamento Mercado Pago</h6>
                      <a href="https://github.com/rafaelmegda/Botao-de-Pagamento-Com-Mercado-Pago"><button class="btn btn-light">Acessar</button></a>
                    </div>
                  </div>
                
                <!-- fim card -->
                <!-- card -->
                  <div class="card" style="width: 18rem;">
                    <img src="/src/img/php-back.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h6>Newsletter com MySQL</h6>
                      <a href="https://github.com/rafaelmegda/newsletter-CRUD"><button class="btn btn-light">Acessar</button></a>
                    </div>
                  </div>
                <!-- fim card -->
                <!-- card -->
                  <div class="card" style="width: 18rem;">
                    <img src="/src/img/php-back.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h6>Chat com Sessão e imagens</h6>
                      <a href="https://github.com/rafaelmegda/Chat-com-Imagens"><button class="btn btn-light">Acessar</button></a>
                    </div>
                  </div>
                <!-- fim card -->              
              </div>
            </div>
              <!-- ----------------------------------------------Front-End--------------------------------------------------->
              <div class="tab-pane fade" id="front" role="tabpanel" aria-labelledby="front-tab">
                <div class="row row-cols-2">
                  <!-- card -->            
                  <div class="card" style="width: 18rem;">
                    <img src="/src/img/front-end.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h6>Este portfólio (inicio ao fim)</h6>
                      <a href="https://github.com/rafaelmegda/rafaelmegda.github.io"><button
                          class="btn btn-light">Acessar</button></a>
                    </div>
                  </div>
                  <!-- fim card -->
                </div>
              </div>                          
              <!-- ----------------------------------------------DESKTOP-------------------------------------------------- -->
            <div class="tab-pane fade" id="desktop" role="tabpanel" aria-labelledby="desktop-tab">
              <div class="row row-cols-2">
                <!-- card -->
                  <div class="card" style="width: 18rem;">
                    <img src="/src/img/back-csharp.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h6>Gestão de Taxa de Embarque</h6>
                      <a href="https://github.com/rafaelmegda/Gestao-de-taxa-embarque-para-ag-ncias-de-passagens"><button
                          class="btn btn-light">Acessar</button></a>
                    </div>
                  </div>
                <!-- fim card -->
                <!-- card -->
                  <div class="card" style="width: 18rem;">
                    <img src="/src/img/back-csharp.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h6>Identificação de Maças - Imagens</h6>
                      <a href="https://github.com/rafaelmegda/Image-processing-for-apple-identification"><button
                          class="btn btn-light">Acessar</button></a>
                    </div>
                  </div>
                <!-- fim card -->
              </div>
            </div>
            <!-- -------------------------------------Wordpress--------------------------------------------------------------- -->
            <div class="tab-pane fade" id="wordpress" role="tabpanel" aria-labelledby="wordpress-tab">
              <div class="row row-cols-2">
                <!-- card -->              
                  <div class="card" style="width: 18rem;">
                    <img src="/src/img/site-jbs.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h6>JBS Transportes</h6>
                      <a href="http://jbstransportesbrs.com/"><button class="btn btn-light">Acessar</button></a>
                    </div>
                  </div>
                <!-- fim card -->
                <!-- card -->              
                  <div class="card" style="width: 18rem;">
                    <img src="/src/img/site-loghub.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h6>LOGHub Express</h6>
                      <a href="http://loghubexpress.com.br/"><button class="btn btn-light">Acessar</button></a>
                    </div>
                  </div>
                <!-- fim card -->
                <!-- card -->                
                  <div class="card" style="width: 18rem;">
                    <img src="/src/img/site-ump.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h6>UMP - Barretos</h6>
                      <a href="http://umpprimeiraipb.com.br/"><button class="btn btn-light">Acessar</button></a>
                    </div>
                  </div>
                <!-- fim card -->              
              </div>       
          </div>
          </div>
        </div>
      </section>

    <footer class="footer text-center">
    <div class="d-flex justify-content-center">
        <p>Página desenvolvida com amor e carinho, e todo o código é aberto e esta disponível no 
        <a href="https://github.com/rafaelmegda/rafaelmegda.github.io">Github <i class="icone fab fa-github"></i></a>
        </p>
    </div>
    </footer>
  </body>
</html>
