<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfólio</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/e1ef3b4fea.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Inicio Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="https://rafaelmegda.github.io">
        <h3><b> Rafael Megda ;</b></h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
             <!-- <a class="nav-item nav-link" href="sobremim.html">Sobre Mim</a> -->
          <a class="nav-item nav-link" href="projetos.html">Projetos</a>
          <a class="nav-item nav-link" href="habilidades.html">Habilidades</a>
          <a class="nav-item nav-link" href="portfolio.html">Meus Códigos</a>
          <a class="nav-item nav-link" href="realizacoes.html">Realizações</a>
          <a class="nav-item nav-link" href="blog.html">Blog</a>
        </div>
      </div>
    </nav>
    <!-- ---------------------------Fim Navbar------------------------------- -->

    <section class="jumbotron" style="background-color: transparent !important;">
      <div class="container-fluid" id="repositorios-github">
        <h2 class="titulos jumbotron-heading">Repositórios GitHub</h2>
        <p>Lista de todos meus projetos pessoais desenvolvidos para trabalho ou estudo em que disponibilizo no Git Hub. 
          Em breve vou listar outros projetos na qual tenho desenvolvido mais recentemente. </p>
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">API OKRs</h5>
                <span class="badge badge-info">.Net Core</span>
                <p class="card-text">(Em construção...) Projeto em .Net Core API para oferecer recursos básicos para 
                  gestão de OKRs para empresas e Startups, inicialmente com um bord de metas.
                  <br><a href="https://github.com/rafaelmegda/api-okrs">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">API Estudos .NetCore5</h5>
                <span class="badge badge-info">.NetCore</span>
                <p class="card-text">API Completa rodando uma aplicação simples de GET para produtos de supermercado. A idéia
                  é aprender sobre a arquitetura MVC e DotNetCore usando visual Code.
                  <br><a href="https://github.com/rafaelmegda/api-dotnet-core-supermercado">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Gestão de Pagamento Taxas</h5>
                <span class="badge badge-info">WebForms C# .Net</span>
                <p class="card-text">Sistema para uma pequena empresa controlar os pagamentos de taxas de embarque. Desenvolvido em C# utilizando
                  WebForms e banco de dados em SQL Server para rodar localmente.
                  <br><a href="https://github.com/rafaelmegda/Gestao-de-taxa-embarque-para-ag-ncias-de-passagens">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Controle de Frotas</h5>
                <span class="badge badge-info">WebForms C# .Net</span>
                <p class="card-text">Primeiro sistema desenvolvido para a faculdade, utilizando C# e WebForms, onde é possível realizar a gestão 
                  e controle de uma frota de veículos. Sistema básico com dados em memória.
                  <br><a href="https://github.com/rafaelmegda/Controle-de-frota">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Identificação de Maças</h5>
                <span class="badge badge-info">C# .Net</span>
                <p class="card-text">Desenvolvido em C#, este sistema é para analisar uma imagem de uma maçã e identificar se ela esta 
                  verde ou madura. Ideal para aperfeiçoamento e utilização em pomares.
                  <br><a href="https://github.com/rafaelmegda/Processamento-de-Imagem-para-identificar-macas">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Dicionário com Árvore Binária</h5>
                <span class="badge badge-info">C</span>
                <p class="card-text">Desenvolvido para estudos de Estrutura de Dados usando linguagem C, para buscar palavras em um dicionário
                  com mais eficiência e desempenho através de árvore binária.
                  <br><a href="https://github.com/rafaelmegda/Procurando-palavras-com-arvore-binaria">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Game Rogue Like</h5>
                <span class="badge badge-info">C</span>
                <p class="card-text">Projeto da Faculdade desenvolvido em C e rodando na linha de comando baseado no lendário 
                  Game Rougue Like, um RPG dos anos 80. Desenvolvido em grupo.
                  <br><a href="https://github.com/rafaelmegda/Game-Rogue-Like">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Exercícios Uri Judge</h5>
                <span class="badge badge-info">C</span>
                <p class="card-text">Reposiório Contendo as resoluções de exercicios da plataforma https://www.urionlinejudge.com.br/ que 
                  permite praticar exercicios que simulam maratonas de programação da USP.
                  <br><a href="https://github.com/rafaelmegda/Resolucao-Exercicios-URI-Judge">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Exercícios	Hacker Rank</h5>
                <span class="badge badge-info">C</span>
                <p class="card-text">Reposiório Contendo as resoluções de exercicios da plataforma Hacker Rank que 
                  permite praticar exercicios de lógica em diversas linguagens.
                  <br><a href="https://github.com/rafaelmegda/Resolucao-Exercicios-Hacker-Rank">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Sorteador OnLine</h5>
                <span class="badge badge-info">JavaScript (HTML-CSS)</span>
                <p class="card-text">Projeto de Front-End utilizando HTML, CSS e Bootstrap para gerenciar sorteios online.
                  Existem alguns sorteadores, mas a idéia é aperfeiçoar o projeto e permitir personalização pelo usuário.
                  <br><a href="https://github.com/rafaelmegda/sorteadoronline.github.io">Acessar repositório</a> > 
                  <a href="https://rafaelmegda.github.io/sorteadoronline.github.io/">Acessar Sorteador</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Crud Web</h5>
                <span class="badge badge-info">AngularJS</span>
                <p class="card-text">Projeto desenvolvido para estudos de front-end utilizando AngularJS, manipulando as informações e 
                  montando um CRUD em memória. Esta é a primeira Versão do Angular.
                  <br><a href="https://github.com/rafaelmegda/FrontEnd-com-AngularJS">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>        
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Botão Pagamento Mercado Pago</h5>
                <span class="badge badge-info">PHP</span>
                <p class="card-text">Desenvolvido para estudos utilizando PHP. A idéia é disponibilizar a opção para quem esta 
                  iniciando uma loja virtual, disponibilizar para os cliente esta forma de pagamento.
                  <br><a href="https://github.com/rafaelmegda/Botao-de-Pagamento-Com-Mercado-Pago">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Manipulando Banco de Dados</h5>
                <span class="badge badge-info">PHP com MySql</span>
                <p class="card-text">Projeto desenvolvido na faculdade para estudos de PHP, onde é possível criar uma conexão com 
                  o bando de dados, o banco e as tabelas, e realizar inserção de dados.
                  <br><a href="https://github.com/rafaelmegda/ManipulandoBancoDeDadosComPHP-MySQL">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Manipulando Banco de Dados</h5>
                <span class="badge badge-info">PHP com MySql</span>
                <p class="card-text">Projeto desenvolvido na faculdade para estudos de PHP, HTML e CSS junto com Banco de dados MySQL 
                  para cadastrar um novo usuário e login ao usuário cadastrado criando uma nova sessão.
                  <br><a href="https://github.com/rafaelmegda/cadastro-de-usuario-e-login-com-php">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Chat de Mensagens</h5>
                <span class="badge badge-info">PHP</span>
                <p class="card-text">Projeto desenvolvido na faculdade para estudos de PHP, para a criação de um chat para envio e recebimento
                  de mensagens. Sem Definição de layout para a página.
                  <br><a href="https://github.com/rafaelmegda/Chat-com-Imagens">Acessar repositório</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer text-center">
    <div class="d-flex justify-content-center">
        <p>Página desenvolvida com amor e carinho, e todo o código é aberto e esta disponível no 
        <a href="https://github.com/rafaelmegda/rafaelmegda.github.io">Github <i class="icone fab fa-github"></i></a>
        </p>
    </div>
    </footer>
  </body>
</html>
