<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/e1ef3b4fea.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Inicio Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="https://rafaelmegda.github.io">
        <h3><b> Rafael Megda ;</b></h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
             <!-- <a class="nav-item nav-link" href="sobremim.html">Sobre Mim</a> -->
          <a class="nav-item nav-link" href="projetos.html">Projetos</a>
          <a class="nav-item nav-link" href="habilidades.html">Habilidades</a>
          <a class="nav-item nav-link" href="portfolio.html">Portfólio</a>
          <a class="nav-item nav-link" href="realizacoes.html">Realizações</a>
          <a class="nav-item nav-link" href="blog.html">Blog</a>
        </div>
      </div>
    </nav>
    <!-- ---------------------------Fim Navbar------------------------------- -->

    <section class=" text-center">
        <div class="container" id="realizacoes">
          <h2 class="titulos jumbotron-heading">Realizações</h2>
          <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Iniciação Cientifica</h5>
                  <p class="card-text">Com o tema: Projeto e Análise Sintática de Linguagem de Programação Educacional,
                    a pesquisa foi voltada a linguagem de programação e publicada no XConict - Sorocaba-SP em 2019.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Prêmio Intercâmbio EUA - ETEC</h5>
                  <p class="card-text">Conquista por ser aluno destaque dentre as unidades do Centro Paula Souza, na qual o 
                    Governo de SP financiou todo o intercâmbio de 1 mês em San Francisco, na California para estudar inglês.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Ecossistema Bruto Valley</h5>
                  <p class="card-text">Um dos lideres do ecossistema de inovação e startups da região, e atuando na busca 
                    para captar e desenvolver projetos inovadores, startups e também implantar a cultura de inovação nas empresas.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Startup LOGHub Express</h5>
                  <p class="card-text">Após formar e trabalhar por anos com logistica, resolvi alinhar o empreendedorismo e a parte 
                    técnica e surgiu a LOGHub com o objetivo de criar uma plataforma WEB para gestão de fretes.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Startup - SP (Sebrae)</h5>
                  <p class="card-text">Em 2019 a LOGHub foi selecionada para participar do programa de aceleração do 
                    Sebrae - SP. Foram realizadas mentorias, cursos de capacitação, contato com investidores e network.
                  </p>
                </div>
              </div>
            </div>          
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Hackathon Campus Party 2019</h5>
                  <p class="card-text">Durante o evento da Campus, eu e mais 3 amigos participamos do Hackathon da Cidade Center 
                    North, com o objetivo de promover mobilidade entre seus empreendimentos, ficando com o 3º lugar.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <footer class="footer text-center">
    <div class="d-flex justify-content-center">
        <p>Página desenvolvida com amor e carinho, e todo o código é aberto e esta disponível no 
        <a href="https://github.com/rafaelmegda/rafaelmegda.github.io">Github <i class="icone fab fa-github"></i></a>
        </p>
    </div>
    </footer>
  </body>
</html>
