<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habilidades</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/e1ef3b4fea.js" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <section class="jumbotron" style="background-color: transparent !important;">
        <div class="container-fluid" id="habilidades">
          <!-- <h2 class="titulos jumbotron-heading">Habilidades</h2> -->
          <div class="row row-cols-2">
            <div class="col-lg-4 col-md-6">
              <div class="box-servicos">
                <i class=" icone fas fa-code fa-3x"></i>
                <h4>Back-End</h4>
                <p>
                  Desenvolvimento utilizando C#, ASP.NET Core e Java. Sempre prezando pelo
                  clean-code.
                </p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="box-servicos">
                <i class=" icone fas fa-laptop-code fa-3x"></i>
                <h4>Front-End</h4>
                <p>
                  Desenvolvimento utilizando CSS, HTML e JS.
                  Frameworks como Bootstrap, Angular.JS e Angular.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="box-servicos">
                <i class="icone far fa-window-maximize fa-3x"></i>
                <h4>WEB API</h4>
                <p>
                  Aplicações utilizando recursos do .Net Core e iniciando com 
                  Java Spring Boot.   
                </p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="box-servicos">
                <i class="icone fas fa-database fa-3x"></i>
                <h4>Banco de Dados</h4>
                <p>
                  Desenvolvimento do modelo lógico de dados, estruturação de dados
                  desenvolvendo com SQL Server para aplicações relacionais e iniciando
                  em NoSQL com MongoDB e Dynamo.
                </p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="box-servicos">
                <i class="icone fa fa-amazon fa-3x"></i>
                <h4>AWS - Cloud</h4>
                <p>
                  Iniciando no desenvolvimento utilizando os recursos da AWS para cloud.
                  Atualmente estou me especializando e atuando no conhecimento da ferramenta.
                </p>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
              <div class="box-servicos">
                <i class="icone fas fa-code-branch fa-3x"></i>
                <h4>Versões Sistemas</h4>
                <p>
                  Conhecimento no desenvolvimento das aplicações utilizando
                  versionamento GIT, e também na armazenagem em repositórios, como
                  o GITHub.
                </p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="box-servicos">
                <i class="icone fas fa-rocket fa-3x"></i>
                <h4>Inovação e Startups</h4>
                <p>
                  Possuo experiência em Startups e aplico na minha carreira como desenvolvedor
                  para otimizar meu relacionamento com clientes e sempre buscar soluções atuais e inovadoras.
                </p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="box-servicos">
                <i class="icone fas fa-users fa-3x"></i>
                <h4>Metodologia Ágil e OKRs</h4>
                <p>
                  Desenvolvo minhas aplicações utilizando conhecimento nas metologias ágeis e OKRs. 
                  Obtive contato com estas metodologias trabalhando e atuando a frente de uma Startup.
                </p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="box-servicos">
                <i class="icone fas fa-hands-helping fa-3x"></i>
                <h4>DevOps</h4>
                <p>
                  Estou incluindo em minhas habilidades os conhecimentos de DevOps para desenvolver as 
                  aplicações. Utilizando também os conceitos de containers Dockers
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer -->
    <footer class="footer text-center">
        <div class="d-flex justify-content-center">
            <p>Página desenvolvida com amor e carinho, e todo o código é aberto e esta disponível no 
            <a href="https://github.com/rafaelmegda/rafaelmegda.github.io">Github <i class="icone fab fa-github"></i></a>
            </p>
        </div>
    </footer>
  </body>
</html>
