<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa Cientifica</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/e1ef3b4fea.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Inicio Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="https://rafaelmegda.github.io">
          <h3><b> Rafael Megda ;</b></h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav ml-auto">
              <!-- <a class="nav-item nav-link" href="sobremim.html">Sobre Mim</a> -->
              <a class="nav-item nav-link" href="/views/projetos.html">Projetos</a>
              <a class="nav-item nav-link" href="/views/habilidades.html">Habilidades</a>
              <a class="nav-item nav-link" href="/views/portfolio.html">Portfólio</a>
              <a class="nav-item nav-link" href="/views/realizacoes.html">Realizações</a>
              <a class="nav-item nav-link" href="/views/blog.html">Blog</a>
          </div>
        </div>
      </nav>


    <div class="container" style="padding-bottom: 20px;">
        <h1 class="titulos jumbotron-heading">Projeto e Análise sintática de linguagem de programação educacional</h1><br>
        <div class="container texto-blog">
            <p>
                    Durante a minha gradução em Análise e Desenvolvimento de Sistemas no Instituto Federal Campus Barretos me deparei
                com uma realidade que é frequente para quem esta iniciando na programação, a lógica de programação. Hoje acredito que 
                em sua maioria os professores adotam o ensino da lógica pautada nas linguagens mais "tradicionais" como C por exemplo, ou
                métodos como por exemplo <a href="http://lite.acad.univali.br/portugol/">Portugol Studio.</a><br><br>
                    Eu particularmente, tive o contato com a lógica de programação através do Ruby e do C, onde ao mesmo tempo é necessário que você 
                consiga "aprender" a linguagem e consequentemente ir adquirindo a lógica, ou seja, para entender melhor a lógica e o momento
                de uitlizar um laço de repetição, você também precisa aprender a utiliza-lo dentro daquela determinada linguagem, como o C.<br><br>
                    Confesso, que particularmente, eu gosto da linguagem C porque você consegue desenvolver um sistema básico pelo CMD sem montar 
                uma "grande" estrutura no seu projeto, com apenas um arquivo .c e um compilador GCC, você consegue compilar seu código pelo terminal.
                O que eu quero dizer com isso? Neste momento inicial você não se "preocupa muito" em aprender a linguagem, mas sim em aplicar uma lógica 
                para resolver determinado exercicio e ir adquirindo pratica na programação. Pense comigo, você configurando primeiro um ambiente ReacteJS
                para depois aprender lógica, sem que ainda você não sabe o que seria um laço de repetição, métodos, objetos, etc...<br><br>
                    Ao mesmo tempo, caso opte por métodos como o Portugol, você não teria uma noção muito próxima do que seria na pratica utilizar uma linguagem
                de programação. Ae neste momento você pode estar se perguntando: "O que ele esta querendo dizer então? Se aprender lógica com C é mais "dificil", 
                e pra "facilitar" utilizando outro método é ruim, como então aprender, que contradição é essa meu camarada?" Mas calma!!! Não é que um método, seja
                o correto ou o outro seja o errado, você utiliza aquele que vai lhe gerar o melhor resultado.<br><br>
                    Pois bem, pensando justamente em "mergiar" um método que não "exija" muito do aluno que esteja aprendendo e que também não fuja muito das sintaxes 
                das linguagens tradicionais, foi que resolvi desenvolver uma pesquisa cientifica durante minha graduação orientado pelo Ms. Prof Álvaro C. Neto 
                do IFSP Barretos que busca desenvolver uma sintaxe que mescle um pouco de C, Pascal e novos elementos para que o aluno se sinta confortavel, para 
                aprender a lógica de programação sem se preocupar muito em uma "estrutura" inicial de configurações, notações sintáticas, compilações, etc.<br><br>
                    <b>O material ficou muito bom, e conseguimos publicar no congresso Conict que ocorreu em Sorocaba - SP em Novembro de 2019 e você pode conferir o artigo
                cientifico na integra só clicar <a href="http://ocs.ifsp.edu.br/index.php/conict/xconict/paper/view/5788">AQUI</a><br><br></b>
                Acesse, comente e compartilhe!!!<br><br>
                Valeu!!!
                <br>
            </p>
        </div>
        

        
  
    </div>

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="d-flex justify-content-center">
            <p>Página desenvolvida com amor e carinho, e todo o código é aberto e esta disponível no 
            <a href="https://github.com/rafaelmegda/rafaelmegda.github.io">Github <i class="icone fab fa-github"></i></a>
            </p>
        </div>
    </footer>    
</body>
</html>